/* Wrapper for the entire carousel */
.carousel-wrapper-c {
  overflow: hidden; /* Ensures only visible cards are shown */
  width: 95%; /* Occupy full width of the container */
  /* position: relative; */
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

/* Container for all cards */
.carousel-cards {
  display: flex; /* Arrange cards in a row */
  transition: transform 0.3s ease-in-out; /* Smooth sliding effect */
  will-change: transform; /* Optimize performance */
  gap: 2%;
}

/* Individual card styling */
.cards {
  flex: 0 0 calc(100% / 4); 
  box-sizing: border-box;
  margin: 15px;
  width: 40px;
  padding-right: 20px;
  border-radius: 5%;
}


/* Image inside each card */
.card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

/* Arrow buttons styling */
.arrow-content {
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}

.arrow-content .prev-item,
.arrow-content .next-item {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.arrow-content .prev-item:hover,
.arrow-content .next-item:hover {
  background-color: #fff;
  color: black;
}
