.form_bg_container{
  display: flex;
      position: fixed;
      top: 0;
      left: 0;
      background: #0000002e;
      width: 100vw;
      height: 100vh;
      justify-content: end;
      overflow: auto;
      z-index: 1;
}

.form-container{
  display: flex;
    flex-direction: column;
    height: fit-content;
    width: 600px;
    border: 1px solid #e1e1e1;
    position: relative;
    z-index: 2000;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    gap: 20px;
    margin-top: 50px;
    margin-right: 50px;
}



.form-row {
  display: flex;
  gap: 20px;
}

.form-group {  
  margin-bottom: 20px;
  width: 100%;
}

.form-group-other{
  margin-top: 20px;
  /* width: 97%; */
  /* padding-left: 20px; */
}
.form-group-company{
  display: flex;
  flex-direction: column;
  width: 48%;
  /* flex-grow: 1; */
}

.form-group-company-size{
  display: flex;
  flex-direction: column;
  width: 48%;
}


.form-group-title{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.form-check{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.checkbox-item{
  display: flex;
  width: 100%;
  flex-direction: row;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.checkbox-container{
  display:grid ;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
}
.checkbox-container span{
  padding: 10px;
  display: block;
  border: 1px solid #e1e1e1;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fafafa;
  font-size: 13px;
  color: black;
  text-align: center;
}


