.main-container-cont{
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 100px;
  height: fit-content;
}

.left-content,.right-content{
  width: 20%;
  position: relative;
  height: fit-content;
}


.left-content img,.right-content img{
  width: 20%;
  height: auto;
  position: absolute;
}
.ava1{
  top: 20px;
  right: 150px;
}
.ava2{
  top: 150px;
  left: 50px;
}

.ava3{
  top: 300px;
  right: 50px;
}
.ava4{
  top: 20px;
  left: 150px;
}
.ava5{
  top: 150px;
  right: 50px;
}

.ava6{
  left: 50px;
  top: 300px;
}
.container-cont{
  width: 60%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
}


.development{
  display: flex;
  flex-direction: column;
}
.development-content h2{
  text-align: left !important;
}
.development-content{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.left-cont{
  width: 50%;
  padding: 40px;
  top: 0;
  display: flex;
  gap: 40px;
  flex-direction: column;
  position: sticky;
  justify-content: center;
  height: 100vh;
  border-right: 1px solid black;
}

.right-cont span{
  display: block;
}
.right-cont{
  position: relative;
  padding: 40px;
  right: 0;
  width: 50%;
  height: fit-content;
}

.right-cont img{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .main-container-cont img{
    width: 50%;
  }
  .main-container-cont{
    margin-bottom: 0px;
  }
  .main-container-cont .container-cont{
    width: 70%;
  }
  .main-container-cont .left-content, .right-content{
    width: 15%;
  }
  .ava1,.ava3{
    right: 20px;
  }
  .ava2{
    left: 30px;
  }
  .ava5{
    right: 30px;
  }
  .ava4, .ava6{
    left: 20px;
  }
  .development-content{
    flex-direction: column;
  }
  .left-cont{
    position: relative;
    border-right: 0px;
    top: 0;
    width: 100%;
  }
  .right-cont{
    width: 100%;
  }
}