.main-container{
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.main-container .main-header{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.main-container .after-header-content p {
  padding: 40px;
}
.main-container .after-header-content p {
  text-align: center;
}

.content-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content-container .image-container{
  width: 50%;
}

.content-container .context{
  width: 50%;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.content-container .context h3{
  font-weight: bold;

}
.content-container .context p {
  font-size: 20px;
}

.join-us{
  padding: 30px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.join-us .join-us-text {
  display: flex;
  justify-content: center;
  font-size: large;
}

.form-container-content{
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.contact-form div {
  margin-bottom: 15px;
}

.contact-form label {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 5px;
}

.contact-form textarea{
  height: 150px;
}
.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  border-radius: 4px;
  margin-top: 5px;
  width: 95%;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form input[type="text"] {
  width: 95%;
  box-sizing: border-box;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #11a64a;
  color: white;
  border: none;
  border-radius: 4px;
  width: 20%;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.required {
  color: red;
}



.row{
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: center;
}



